// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


/* website colors */
$white: white;
$dark-orange: #FF6124;
$gray-blue: #9FB1D3;
$vivid-blue: #1AB9D0;
$yellow-orange: #FE9F17;
$rich-black: #0f1a20;

/* new colors should replacer previous ones - 04/11/2023 */
$light-orange: #FCA601;
$dark-orange: #F74E2E;
$green: #0C7E65;
$dark-petrol: #102733;
$dark-green: #1D475E;
$white: #ffffff;
$black: #000000;
