.h2-new{
  margin-bottom: 30px;
}

.h4-new{
  color: $orange;
}

.datepicker{
  margin-top: 5px;
  }

.custom-btn-small-new{
  width: 310px;
}

.flatpickr-calendar{
  width: 310px;
  background-color: $dark-green;
}

.flatpickr-day{
  background-color: $white;
}

.flatpickr-day.selected{
  text-align: center;
  border: none;
  border-left: none;
}

.flatpickr-time{
  background-color: $dark-green;
}

.flatpickr-day.selected:hover,
.flatpickr-day.selected,
.flatpickr-day:hover,
.flatpickr-day:active,
span.flatpickr-day.selected{
  background-color: $dark-orange;
}

.flatpickr-time input.flatpickr-hour,
.flatpickr-time input.flatpickr-minute{
  color: white;
  font-weight: bold;
  background-color: $dark-green;
}

.numInput .cur-year,
.flatpickr-current-month input.cur-year{
  color: white;
}

span.flatpickr-weekday,
.flatpickr-current-month{
  color: white;
}

.flatpickr-months .flatpickr-prev-month svg, .flatpickr-months .flatpickr-next-month svg{
  color: white;
  fill: white;
}

.dayContainer{
  gap: 0.4rem;
  padding: 1rem;
}

.flatpickr-day.today{
  background-color: $green;
  color: $white;
}

/* ne fonctionne pas tout ci-dessous reste toujours à cibler les flèches haut bas près de l'année dans le formulaire */

.arrowDown{
  background-color: white;
  color: white;
}

.arrowUp{
  background-color: white;
  color: white;
}

input.cur-year{
  color: white;
}
