.h2-new{
  margin-bottom: 30px;
}

.h4-new{
  color: $orange;
}

.datepicker{
  margin-top: 5px;
  }

.custom-btn-small-new{
  width: 310px;
}

.flatpickr-calendar{
  width: 310px;
  background-color: $dark-green;
}

.flatpickr-day{
  background-color: $white;
}

.flatpickr-day.selected{
  text-align: center;
  border: none;
  border-left: none;
}

.flatpickr-time{
  background-color: $white;
}

.flatpickr-day.selected,
.flatpickr-day.hover
.flatpickr-day.active
.flatpickr-day.blur{
  background-color: $dark-orange;
}
