     <div class="footer">
        <div class="footer-content">
            <div class="footer-section about">
                <h2 class="h2-footer">About</h2>
                <p class="footer-contact-hover">Informations</p>
                <p class="footer-contact-hover">Blog </p>
                <p class="footer-contact-hover">Newsletter</p>
            </div>
            <div class="footer-section links">
                <h2 class="h2-footer">Links</h2>
                <ul>
                    <li><p class="footer-contact-hover">Accueil</p></li>
                    <li><p class="footer-contact-hover">Découvrir</p></li>
                    <li><p class="footer-contact-hover">Réserver</p></li>
                </ul>
            </div>
            <div class="footer-section contact">
                <h2 class="h2-footer">Nous contacter</h2>
                <p class="footer-contact-hover"><i class="fas fa-envelope"></i> contact@blablabla.com</p>
                <p class="footer-contact-hover"><i class="fas fa-phone"></i> +33 (0)1 23 45 67 89</p>
                <div>
                  <i class="fab fa-instagram social-media-links fa-lg"></i>
                  <i class="fab fa-facebook social-media-links fa-lg"></i>
                  <i class="fa-brands fa-x-twitter social-media-links fa-sm"></i>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            &copy; Made with love by Abdes, Laure, Arthur & Lucile
            <i class="fa-duotone fa-heart"></i>
        </div>
    </div>
