     <div class="footer">
        <div class="footer-content">
            <div class="footer-section about">
                <h2 class="h2-footer">About</h2>
                <p class="footer-contact-hover">Informations</p>
                <p class="footer-contact-hover">Blog </p>
                <p class="footer-contact-hover">Newsletter</p>
            </div>
            <div class="footer-section links">
                <h2 class="h2-footer">Links</h2>
                <ul>
                    <li><a class="footer-links" href="#">Accueil</a></li>
                    <li><a class="footer-links" href="#">Découvrir</a></li>
                    <li><a class="footer-links" href="#">Réserver</a></li>
                </ul>
            </div>
            <div class="footer-section contact">
                <h2 class="h2-footer">Nous contacter</h2>
                <p class="footer-contact-hover"><i class="fas fa-envelope"></i> contact@blablabla.com</p>
                <p class="footer-contact-hover"><i class="fas fa-phone"></i> +33 (0)1 23 45 67 89</p>
                <div>
                  <a href="#"><i class="fab fa-instagram social-media-links fa-lg"></i></a>
                  <a href="#"><i class="fab fa-facebook social-media-links fa-lg"></i></a>
                  <a href="#"><i class="fa-brands fa-x-twitter social-media-links fa-sm"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            &copy; 2023 aswewish | Politique de confidentialité | Conditions d'utilisation
        </div>
    </div>
