<div class="container">
  <h1>Ideal Place </h1>
  <h2 style> Where your event begins !</h2>
    <%# <div class="navbar" id="myNavbar"> %>
        <%# <a href="#home">Home</a> %>
        <%# <a href="#profile">Profile</a> %>
        <%# <a href="#dashboard">Dashboard</a> %>
        <%# <a href="#contact">Contact</a> %>
        <%# <a href="javascript:void(0);" class="icon" onclick="typeOfMenu()"> %>
            <%# &#9776; %>
        <%# </a> %>
    <%# </div> %>

<!-- Créer cela en stimulus dès que temps dispo -->
  <%# <script>
    function typeOfMenu() {
      let x = document.getElementById("myNavbar");
        if (x.className === "navbar") {
          x.className += " responsive";
        } else {
          x.className = "navbar";
        }
      }
  </script> %>

  <div class="row">
    <div class="col-sm-12">
      <%= link_to 'Create event', new_event_path, class:"btn btn-success" %>
      <% @events.each do |event| %>
          <div class= "col-sm-12">
            <div class="h-100">
             <p class="mt-2"> <%= event.name %> </p>
              <%= link_to 'See event', event_path(event), class:"btn btn-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

</div>
