<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= render "shared/banner" %>

<div class="events-container-home mt-5">
  <div class="row">
    <div class="col-12">
      <div class="row mt-5 cards-grid">
          <div class= "col-3 mb-4">
            <div class="card h-100">
