<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="cars-container-home mt-5">
  <div class="row">
    <div class="col-12">
      <div class="row mt-5 cards-grid">

      </div>
    </div>
  </div>
</div>
