<div class="container">
  <h1>Ideal Place </h1>
  <h2 style> Where your event begins </h2>
  <div id="video-container">
    <video width="640" height="360" controls autoplay>
      <source src="diner-between-friends.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
      <div id="text-overlay">
        <h2>Create your event with us!</h2>
        <p> Enter its name below</p>
          <form>
              <input type="text" name="event-name">
              <button class="pressable-button" type="button" class=""> Launch my event!</button>
          </form>
      </div>
  </div>
</div>
