<h1>Show </h1>
<% if @event_place.favoritors %>
  <h2>New : Owner <%= current_user.first_name%></h2>
  <ul>
    <% @event_place.favoritors.each do |favorite| %>
      <li><%= favorite.first_name %></li>
    <%end%>
  </ul>
<%end%>


