.custom-margin {
  margin-right: 25px; /* Ajoutez l'espace souhaité à droite du bouton */
}

.bottom-top-margin{
  margin-top: 25px;
  margin-bottom: 25px;
}

a{
  text-decoration: none;
}

.custom-ideal-place-btn{
  color: $white;
  background-color: $dark-orange;
  padding: 7px 18px;
  border-radius: 5px;
  font-weight: bold;
  &:hover{
    background-color: $white;
    color: $dark-orange;
    font-weight: bold;
  }
}
