.card {
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  color: white;
  border: none;
}

.card-index:hover {
  border: 4px solid #0C7E65;
  border-right-style: none;
  border-left: 1.5rem solid $green;
}

.card-index-selected {
  border: 4px solid $green;
  border-right-style: none;
  border-left: 1.5rem solid $green;
}

.all-selection {
  .card-index:not(.card-index-selected) {
    opacity: 0.2;
    &:hover {
      border: none !important;
    }
  }
}

.card-body {
  background-color: $dark-green;
  color: white;
  height: 100%;
}

.list-group-item {
  background-color: $dark-green;
  color: white;
  border: none;
}

.card-event {
  background-color: $dark-green;
  color: white;
  height: 250px;
}

.card-text {
  font-weight: $body-font;
}
