
.footer {
  background-color: $green;
  color: $white;
  font-weight: 500;
  height: 100%;

  i{
    color: $white;
    cursor: pointer;
    &:hover{
      color: $dark-orange;
    }
  }

  p {
    cursor: pointer;
  }
}

.footer-links {
  text-decoration: none;
  font-family: $body-font;
}

.social-media-links{
  opacity: 1;
  text-decoration: none;
  font-size: 15px;
  padding-right: 0px 50px;
  margin-right: 25px;

}

.footer-content {
  padding-block: 50px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-section {
  padding: 20px;
}

.footer-section h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.footer-section p {
  font-size: 1em;
}

.links ul {
  list-style: none;
  padding: 0;
}

.links li {
  margin-bottom: 10px;
  font-size: 1em;
  font-family: $body-font;
}

.footer-bottom {
  background-color: $white;
  color: $black; /* #ddd;*/
  text-align: center;
  padding: 10px 0;
}


.footer-links-flex{
  display: flex;
  align-items: center;
  height: 100%;
}

.social-media-links{
  opacity: 1;
  text-decoration: none;
  font-size: 15px;
  padding-right: 0px 50px;
  margin-right: 45px;
}

.h2-footer{
  font-size: 1.5em;
  margin-bottom: 10px;
}

a, .footer-links, .footer-contact, .footer-contact-hover {
  font-size: 1em;
  font-family: $body-font !important;
}

.footer-contact:hover,
.footer-contact-hover:hover,
.footer-links:hover
{
  color: $dark-orange;
}
