.form-text{
  color: $green !important;
  font-size: 1em;
  font-weight: 600;
}

.unhappy-box{
  margin-bottom: 25px;
}

.margin-p{
  margin-right: 30px;
}

.margin-unhappy-box{
  margin-bottom: 50px;
}
