.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand {
  padding: 0;
  margin-left: 0;
}

.navbar-app-title {
  font-size: 36px;
  margin: 0;
  font-family: $headers-font;
  letter-spacing: 3px;
}

.navbar-app-subtitle {
  font-size: 26px;
  font-family: $headers-font;
  font-weight: 300;
  text-shadow: 2px 2px 4px $white;
  margin: 0;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: $dark-petrol;
}

.navbar a {
  font-size: 1.1em;
}

.navbar .icon {
  display: none;
}

.logo{
  width: 80px;
  height: auto;
}



@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {
      display: none;
  }

  .navbar a.icon {
      float: right;
      display: block;
  }
}


@media screen and (max-width: 600px) {
  .navbar.responsive {
      position: relative;
  }

  .navbar.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
  }

  .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
  }
}
