@import "../config/fonts";
@import "../config/colors";

.container-home{
  max-width: 100%;
  padding: 0 0px;
  margin: 0 auto;
}

#video-container {
  position: relative;
  /*overflow: hidden;*/
  padding-bottom: 0px;  /*56.25% 16:9 aspect ratio for responsive video */
  height: 80vh;
}

video{
  width: 100%;
  height: 100% !important;
  object-fit: cover;

}

#text-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: calc(100vh - 61.75px);
  color: $black;
  background-color: $dark-petrol;
  overflow: hidden;
  position: relative;
}

.p-video {
  margin: 0;
}

.form-home-page {
  max-width: 400px;
  margin: 0 auto;
}

.input-home-page {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.pressable-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: $dark-orange;
    color: #fff;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 0px;
&:hover{
  opacity: 0.9;
 }
}

.pressable-button:active {
    background-color: #2980b9;
    transform: translateY(2px);
}

.input-home-page{
  width: 250px;
  height: 50px;
  font-size: 0.8em;
}

.h2-video{
  text-align: center;
  font-size: 38px;
  position: absolute;
  top: 80px;
  font-size: 3em;
  letter-spacing: 1.2;
  margin-bottom: 0px;
  color: $vivid-blue;
}

.p-video{
  text-align: center;
  font-size: 28px;
}

.form-control:hover{
  outline: $dark-orange 1px solid;
}

.space-between-logo-accroche{
  margin-bottom: 25px;
}

.space-between-accroche-input{
  margin-bottom: 45px;
}

.underline-input{
  font-family: $body-font;
  color: $white;
  opacity: 0.9;
  font-size: 18px;
  border-bottom: 1px solid $white;
}
