// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "components/card";
@import "pages/index";


/* Define your custom button style */
.custom-btn {
  background-color: #0C7E65; /* Choose your preferred color */
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 1rem; /* Adjust font size */
  transition: background-color 0.3s ease;
}

/* Hover effect */
.custom-btn:hover {
  background-color: rgb(124, 192, 177);
  color: rgb(50, 49, 49) // * Change color on hover */
}

#video-container {
  background-size: cover;
  background-position: center;
}

.nav-link {
  font-family: $body-font;
  font-weight: semi-bold;
  color: $white;
  font-size: 18px;
  /* You can adjust other text properties here */
}
.text-black {
  color: black !important; /* Ensure the text color is black */
}
.nav-tabs .nav-link {
background-color: #f0f0f0;
border: 1px solid #cccccc;
font-size: 18px;
padding: 10px 15px;
transition: all 0.3s ease;
}

.selected {
  border: 2px solid $dark-orange;
  opacity: 0.9;
}
.nav-tabs .nav-link.active {
background-color: #ffffff;
border-bottom: none;
}
.nav-link:hover {
color: $white;;
opacity: 0.9;
}
